<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex - Inscription</title>
</head>
<body>
    <main id="background-image">
    <form action="/registration" method="post">
    <h2>INSCRIPTION</h2>
     <input class="imput" placeholder="pseudo" name="userName" type="text">
    <input class="imput" placeholder="Nom" name="name" type="text">
    <input class="imput" placeholder="Prenom" name="firstname" type="text">
    <input class="imput" placeholder="Adresse mail" name="mail" type="email">
    <input class="imput" placeholder=" Mot de passe" name="password"  type="password">
    <button type="submit">S'INSCRIRE</button>
    <p>Vous avez déjà un compte ? <a href="/">Se connecter</a></p>
    </form>
    </main>
</body>
</html>